/* ### Primary */
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
/* ### neutral */
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$outline: 1px solid #00000020;

$gap-1: min(1rem, 5%);
$gap-1-5: min(1.5rem, 7%);
$gap-2: min(2rem, 10%);
$gap-3: min(3rem, 15%);
$gap-5: min(5rem, 20%);
$max: 50rem;
$rds: 0.5rem;

$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

$fs-xxs: 0.8rem;
$fs-xs: 0.9rem;
$fs-s: 1rem;
$fs-m: 1.25rem;
$fs-l: 1.5rem;
$fs-xl: 2rem;

@mixin flex($drc, $jsc: center, $ali: center) {
	display: flex;
	flex-direction: $drc;
	justify-content: $jsc;
	align-items: $ali;
}

.modal {
	@include flex(column, flex-start, flex-start);
	padding: $gap-1-5;
	border-radius: $rds;
	background-color: white;
	z-index: 1000;

	&__bg {
		position: fixed;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #00000099;
	}
}

.card {
	&--left {
		@include flex(column, center, flex-start);
		margin: 0;
		text-align: left;
		outline: $outline;
	}
	&--center {
		@include flex(column, center, center);
		text-align: center;
		margin-left: $gap-1-5;
		margin-right: $gap-1-5;
		outline: 1px solid #0000000a;
	}
	gap: 1.2rem;
	padding: $gap-2 $gap-1-5;
	border-radius: $rds;
	position: relative;
	background-color: white;

	&__logo {
		position: absolute;
		top: 0;
		transform: translateY(-50%);
	}

	&__title {
		font-size: $fs-m;
	}

	&__text {
		color: $dark-gray;
		font-size: $fs-xxs;
		line-height: 1.5rem;
	}

	&__container {
		width: 100%;
		@include flex(row, space-between, center);
		gap: 1ch;
		flex-wrap: wrap;
	}
}

.button {
	background-color: $moderate-cyan;
	border: none;
	height: 3rem;
	color: white;
	font-size: $fs-s;
	font-weight: $fw-6;
	border-radius: 50px;

	&:hover:not(:disabled) {
		cursor: pointer;
		background-color: $dark-cyan;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
