/* ### Primary */
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
/* ### neutral */
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$outline: 1px solid #00000020;

$gap-1: min(1rem, 5%);
$gap-1-5: min(1.5rem, 7%);
$gap-2: min(2rem, 10%);
$gap-3: min(3rem, 15%);
$gap-5: min(5rem, 20%);
$max: 50rem;
$rds: 0.5rem;

$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

$fs-xxs: 0.8rem;
$fs-xs: 0.9rem;
$fs-s: 1rem;
$fs-m: 1.25rem;
$fs-l: 1.5rem;
$fs-xl: 2rem;
