@use "./utils" as *;
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Commissioner", sans-serif;
}

body {
	background-color: #00000005;
}

.app {
	display: grid;
}

.footer {
	margin: 0 auto;
	margin-bottom: 5px;
	font-size: 0.75rem;
	color: $c-n-dark-gray;
	text-align: center;

	& a {
		color: $c-p-moderate-cyan;
	}
}
