@use "./utils" as *;

.intro {
	position: relative;
	margin-top: -3rem;
	padding-top: 3rem !important;
	background-color: white;

	&__button {
		padding: 0 4ch;
	}

	&__bookmark {
		height: 3rem;
		aspect-ratio: 1;
		border-radius: 50px;
		display: flex;
		background-color: #00000010;
		padding: 0;
		border: none;
		cursor: pointer;
		position: relative;
		color: $dark-gray;

		&:hover:not(&--active) {
			opacity: 0.65;
		}

		@media screen and (min-width: 480px) {
			width: 10rem;
		}

		&--active {
			background-color: #f4f8f9;
			color: $moderate-cyan !important;

			&:hover > * {
				filter: brightness(0.75);
				color: $dark-cyan;
			}
		}
	}

	&__label {
		display: none;

		@media screen and (min-width: 480px) {
			display: unset;
			line-height: 3rem;
			margin: 0 auto;
			font-weight: $fw-6;
			font-size: $fs-xs;
			color: inherit;
		}
	}

	&__icon {
		height: 100%;
	}
}
