.intro {
	position: relative;
	margin-top: -3rem;
	padding-top: 3rem !important;
	background-color: white;

	&__button {
		padding: 0 4ch;
	}

	&__bookmark {
		height: 3rem;
		aspect-ratio: 1;
		border-radius: 50%;
		padding: 0;
		border: none;
		cursor: pointer;
	}

	&__icon {
		height: 100%;
	}
}
