@use "./utils" as *;

.nav-container {
	background: bottom / cover no-repeat;
	background-image: url(../assets/images/image-hero-mobile.jpg);
	margin-bottom: -5rem;

	@media screen and (min-width: 480px) {
		background-image: url(../assets/images/image-hero-desktop.jpg);
		margin-bottom: -7rem;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 75rem;
	margin: 0 auto;

	height: 20rem;
	padding: $gap-2 $gap-1-5;

	@media screen and (min-width: 480px) {
		height: 25rem;
		padding-top: $gap-3;
	}

	&__hamburger {
		background-color: transparent;
		border: none;
		cursor: pointer;

		@media screen and (min-width: 480px) {
			display: none;
		}
	}

	&__curtain {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #00000050;
		z-index: 1;
	}

	&__menu--modal {
		position: absolute;
		z-index: 1000;
		background-color: white;
		top: 5rem;
		left: 0;
		right: 0;
		margin: 0 $gap-1-5;
		display: flex;
		flex-direction: column;
		gap: 1ch;
		border-radius: $rds;

		@media screen and (min-width: 480px) {
			display: none;
		}
	}

	&__menu--desktop {
		display: none;
		@media screen and (min-width: 480px) {
			display: flex;
			gap: 3ch;
		}
	}

	&__item {
		padding: $gap-1-5;
		border-bottom: $outline-dark;
		font-size: $fs-m;
		font-weight: $fw-5;
		cursor: pointer;

		&:last-of-type {
			border-bottom: none;
		}

		@media screen and (min-width: 480px) {
			padding: 0;
			border-bottom: none;
			font-size: $fs-s;
			font-weight: $fw-5;
			color: white;
		}
	}
}
