@use "./utils" as *;

.pledge {
	background-color: white;
	z-index: 2;
	margin: $gap-1-5;
	padding: $gap-2 $gap-1-5;
	border-radius: $rds;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-width: 50rem;

	@media screen and (min-width: 480px) {
		padding: $gap-3;
	}

	position: absolute;
	justify-self: center;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-size: $fs-m;

		@media screen and (min-width: 480px) {
			font-size: $fs-l;
			margin-bottom: -1ch;
		}
	}

	&__close {
		cursor: pointer;
		background-color: $c-n-dark-gray;
		border: none;
		width: 1rem;
		aspect-ratio: 1;
		mask: center / cover no-repeat url(../assets//images/icon-close-menu.svg);
		-webkit-mask: center / cover no-repeat
			url(../assets//images/icon-close-menu.svg);

		&:hover {
			background-color: black;
		}

		@media screen and (min-width: 480px) {
			position: absolute;
			right: 2rem;
			top: 2rem;
		}
	}

	&__text {
		font-size: $fs-xs;
		color: $c-n-dark-gray;
		line-height: 3ch;

		@media screen and (min-width: 480px) {
			font-size: $fs-s;
		}
	}

	&__curtain {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #00000050;
		z-index: 1;
		overflow: scroll;
		display: grid;
	}
}

.modal-option {
	border-radius: $rds;

	&--unselected {
		outline: $outline-dark;
		cursor: pointer;
	}

	&--selected {
		outline: 2px solid $c-p-moderate-cyan;
	}

	&--disabled {
		cursor: not-allowed;
		outline: $outline-dark;
		opacity: 0.5;

		& .modal-option__title {
			&:hover {
				color: initial;
			}
		}
	}

	&__main {
		padding: $gap-2 $gap-1-5;
		display: grid;
		grid-template-areas:
			"radio title"
			"text text";

		grid-template-columns: 1rem 1fr;
		align-items: center;
		gap: 1.5rem;

		@media screen and (min-width: 480px) {
			grid-template-areas:
				"radio title left"
				"radio text text";
			align-items: start;
		}
	}

	&__radio-container {
		grid-area: radio;
		width: 1.3rem;
		height: 1.3rem;
		position: relative;
		display: grid;
		place-items: center;

		&::after {
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
			background-color: white;
			border-radius: 50%;
			outline: $outline-dark;
		}

		&--unchecked {
			&::after {
				background-color: white;
			}
		}

		&--checked {
			&::after {
				background-color: $c-p-moderate-cyan;
				box-shadow: inset 0 0 0 5px white;
			}
		}
	}

	&__title-container {
		grid-area: title;
		display: flex;
		flex-wrap: wrap;
		gap: 1ch;
	}

	&__title {
		font-size: $fs-xs;

		&:hover {
			color: $c-p-moderate-cyan;
		}

		@media screen and (min-width: 480px) {
			font-size: $fs-s;
			margin-bottom: -1ch;
		}
	}

	&__min {
		font-size: $fs-xs;
		font-weight: $fw-7;
		color: $c-p-moderate-cyan;

		@media screen and (min-width: 480px) {
			font-size: $fs-s;
		}
	}

	&__text {
		grid-area: text;
		font-size: $fs-xs;
		line-height: 3ch;
		color: $c-n-dark-gray;

		@media screen and (min-width: 480px) {
			font-size: $fs-s;
		}
	}

	&__left {
		grid-column: 1/3;

		@media screen and (min-width: 480px) {
			grid-column: unset;
			grid-area: left;
		}

		&-num {
			font-size: $fs-m;
			font-weight: $fw-7;
			margin-right: 0.5ch;
		}

		&-text {
			font-weight: $fw-5;
			color: $c-n-dark-gray;
		}
	}

	&__payment {
		border-top: $outline-dark;
		padding: $gap-1-5;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1.5rem;

		@media screen and (min-width: 480px) {
			justify-content: flex-start;
			align-items: center;
		}
	}

	&__command {
		flex-basis: 100%;
		font-size: $fs-xs;
		color: $c-n-dark-gray;
		text-align: center;

		@media screen and (min-width: 480px) {
			flex-basis: unset;
			margin-right: auto;
			font-size: $fs-s;
		}
	}

	&__input-container {
		position: relative;
		&::after {
			content: "$";
			position: absolute;
			left: 2ch;
			line-height: 3rem;
			font-size: $fs-xs;
			font-weight: $fw-7;
			color: #00000040;
		}
	}

	&__input {
		outline: $outline-dark;
		border: none;
		width: 10ch;
		height: 3rem;
		padding-left: 5ch;
		border-radius: 50px;
		font-weight: $fw-7;
		cursor: pointer;

		&:hover {
			outline: 1px solid $c-p-moderate-cyan;
		}
	}

	&__button {
		border: none;
		height: 3rem;
		padding: 0 3ch;
		border-radius: 50px;

		font-size: $fs-xs;
		font-weight: $fw-6;
		color: white;

		&:not(:disabled) {
			background-color: $c-p-moderate-cyan;
			cursor: pointer;

			&:hover {
				background-color: $c-p-dark-cyan;
			}
		}

		&:disabled {
			background-color: $c-n-dark-gray;
			cursor: not-allowed;
			opacity: 0.5;
		}
	}
}

.thankyou {
	place-self: center;
	position: absolute;
	background-color: white;
	z-index: 2;
	margin: $gap-1-5;
	padding: $gap-2 $gap-1-5;
	border-radius: $rds;
	max-width: 40rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	text-align: center;

	@media screen and (min-width: 480px) {
		gap: 2rem;
		padding: $gap-3;
	}

	&__icon {
		width: min-content;
		height: min-content;
	}

	&__title {
		font-size: $fs-m;

		@media screen and (min-width: 480px) {
			font-size: $fs-l;
			margin-bottom: -1ch;
		}
	}

	&__text {
		font-size: $fs-xs;
		color: $c-n-dark-gray;
		line-height: 3ch;

		@media screen and (min-width: 480px) {
			font-size: $fs-s;
		}
	}

	&__button {
		border: none;
		height: 3rem;
		padding: 0 4ch;
		border-radius: 50px;

		font-size: $fs-xs;
		font-weight: $fw-6;
		color: white;

		background-color: $c-p-moderate-cyan;
		cursor: pointer;
	}
}
